*{
  margin: 0;
  padding: 0;
}
.menu{
  width: 40px;
  height: 40px;
  margin: 20px;
  background-color: #050711eb;
  border-radius: 50%;
  overflow: hidden;
}
.menu:hover{
  margin: 0px;
  width: 100vw;
  height: 100vh;
  border-radius: 0%;

}

.icon{
  font-size: 25px;
  color: white;
  margin-left:9px;
  margin-top: 8px;
}

ul {
  margin-left: 41%;
  margin-top:13%;
  list-style: none;
}
li{
  font-size: 24px;
  width: 150px;
  padding:5px;
  color: white;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

li:hover{
  transform: scale(1.2,1.2);
  cursor: pointer;
}
